@import url(Fira/fira.css);

html {
  font-size: 16px;
  font-family: Helvetica;
}

body {
  color: #5E5E5E;
  font-weight: 400;
  background: url(Header.png) no-repeat top center,
    url(Header_Gradient.png) repeat-x top center;
  background-size: 800px, 1px 216px;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin: 235px 0 25px 0;
}

h2 {
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.1em;
  font-weight: 300;
  text-align: left;
  line-height: 1.3;
}

h4 {
  margin: 0;
}

ul {
 padding: 0;
  list-style-type: none;
}

#title {
  text-indent: -9999px;
  background: url(B2GOS_Title.png) no-repeat top center;
}

#wrapper,
#telemetry {
  max-width: 950px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

#wrapper section {
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center top;
}

#wrapper section h2 {
  margin-top: 120px;
}

#wrapper section h3 {
  margin-bottom: 25px;
}


#wrapper section.connect {
  background-image: url(Connect_Icon_130x130.png);
}

#wrapper section.select {
  background-image: url(Select_Icon_130x130.png);
  margin: 0 90px;
}

#wrapper section.flash {
  background-image: url(Flash_Icon_130x130.png);
}

#wrapper[data-current-step="connect"] .select,
#wrapper[data-current-step="connect"] .flash,
#wrapper[data-current-step="select"] .flash {
  opacity: .2;
  pointer-events: none;
}

.connect, .flash {
  text-align: left;
}

#keep-data[data-isb2g="true"] {
  display: block;
  visibility: visible;
}

#keep-data[data-isb2g="false"] {
  display: none;
  visibility: hidden;
}

#deviceId:empty::before {
  content: 'No device detected';
}

#deviceId:empty {
  color: #AAA;
  font-style: italic;
  font-weight: 400;
}

#tooManyDevices {
  color: #ff0000;
  font-weight: bold;
}

#tooManyDevices[data-toomany="true"] {
  display: block;
  visibility: visible;
}

#tooManyDevices[data-toomany="false"] {
  display: none;
  visibility: hidden;
}

#noDevice {
  color: #ff0000;
  font-weight: bold;
}

.build {
  display: flex;
  margin-bottom: 15px;
}

.description {
  padding-left: 8px;
  line-height: 18px;
  margin-block-end: 10px;
}

.description span {
  font-size: .8rem;
}

button {
  border: 0;
  background: #7EC14D;
  color: white;
  height: 35px;
  border-radius: 18px;
  position: left;
  margin: 0 auto;
  font-size: .9rem;
  font-style: italic;
  padding: 0 20px;
}

#installBtn {
  display: block;
  margin: 0 0 10px 0;
}

#installBtn:active {
  background: #FFFFFF;
  border: 1px solid #c0c0c0;
  color: #5E5E5E;
}

.dialog {
  display: none;
}

.dialog > div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog section {
  background: #F4F4F4;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  overflow: hidden;
}

#errorDisplay {
  background: rgba(255, 0, 0, .20);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  visibility: hidden;
}

.error section {
  background: #F4F4F4;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  overflow: hidden;
  display: none;
  visibility: hidden;
  text-align: center;
  padding: 1rem;
}

#progressDialog h2 {
  font-size: 1rem;
  font-weight: bold;
  background: #EEE;
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: .8em;
}

#progressDialog li {
  position: relative;
}

#progressDialog li.done {
  background: url(checkmark.png) no-repeat right 10px center;
  background-size: 20px;
}

#progressDialog li.fail{
  background: url(failure.png) no-repeat right 10px center;
  background-size: 20px;
}

#progressDialog li.inprogress:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  background: url(spinner.png) no-repeat right center;
  animation: 0.9s spinner-animation infinite steps(30);
  background-size: 20px;
}

#progressDialog li, #progressDialog p {
  line-height: 2rem;
  padding: 0 2rem;
}

#progressDialog section {
  width: 380px;
}

#additionalProgress, #subAdditionalProgress {
  color: #999;
  min-height: 1.5rem;
  margin-bottom: 0;
  padding: 0 1rem;
  text-align: center;
  font-size: .8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

progress::-moz-progress-bar {
  background: repeating-linear-gradient(135deg,
  #00caf2 0px,
  #00caf2 11%,
  #b2f2ff 11%,
  #b2f2ff 22%,
  #a6a6a6 22%,
  #a6a6a6 33%);
}

progress {
  position: relative;
  top: 1px;  /* Weird 1px margin at the bottom */
  border: 0;
  height: .4rem;
  min-width: 300%;
  animation: moving-backward 1500ms infinite linear;
}

@keyframes moving-backward {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33%); }
}

@keyframes spinner-animation {
  from { transform: rotate(1deg); }
  to { transform: rotate(360deg); }
}

.dialog {
  whitespace: wrap;
}

#confirmDialog section {
  max-width: 250px;
}

#confirmDialog p {
  padding: 0 1rem;
}

#confirmDialog button {
  background: white;
  display: block;
  width: 100%;
  border-radius: 0;
  color: #0194DE;
}
