<html>
  <head>
    <title>\o/ B2G Installer v@@ADDON_VERSION@@ \o/</title>
  </head>
  <body>
    <h1>Select your platform</h1>
    <ul>
      <!-- <li><a href="b2g-installer-@@ADDON_VERSION@@-linux.xpi">Linux (32 bits)</a></li> -->
      <li><a href="b2g-installer-@@ADDON_VERSION@@-linux64.xpi">Linux (64 bits)</a></li>
      <li><a href="b2g-installer-@@ADDON_VERSION@@-mac64.xpi">Mac OSX (64 bits)</a></li>
    </ul>
    <h1>Please install ADB Helper v0.8.6</h1>
  </body>
</html>
